<h2>Hi!</h2>
<p>I'm a journalist focused on the intersection of technology and social issues.</p>
<p>Use the contact details below to get in touch with me, or follow the links to see some of my work.</p>

<h2>Some Recent Features:</h2>
<ul>
  <li><a href="https://www.buzzfeed.com/corinfaife/how-witchcraft-became-a-brand">How Witchcraft Became A Brand - <em>BuzzFeed News</em></a></li>
  <li><a href="https://motherboard.vice.com/en_us/article/43g8yn/why-elon-musks-tunnel-system-cant-solve-congestion-in-la">Why Elon Musk’s Tunnel System Can’t Solve Congestion in LA - <em>VICE Motherboard</em></a></li>
  <li><a href="https://arstechnica.com/security/2016/12/hack_attacks_on_black_lives_matter/">The DDoS vigilantes trying to silence Black Lives Matter - <em>Ars Technica</em></a></li>
</ul>
<p>See a more comprehensive list <a href="https://corinfaife.contently.com">here</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/corintxt">Find me on Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:corin.faife@gmail.com">Send me an email</a> | <a href="https://keybase.io/corinfaife">PGP</a>
  </li>
</ul>
