<h2>Hi!</h2>
<p>I'm a journalist focused on the intersection between technology and social issues.</p>
<p>Use the contact details below to get in touch with me, or follow the links to see some of my work.</p>

<h2>Some Recent Features:</h2>
<ul>
  <li><a href="https://www.citylab.com/solutions/2017/10/municipal-open-data-smart-city-guidelines-seattle-lessons/541578/">How To Play It Safe With Open Data - <em>CityLab</em></a></li>
  <li><a href="https://howwegettonext.com/who-gets-to-be-perfect-3efba410fd63">Who Gets To Be Perfect? - <em>HowWeGetToNext</em></a></li>
  <li><a href="https://www.buzzfeed.com/corinfaife/how-witchcraft-became-a-brand">How Witchcraft Became A Brand - <em>BuzzFeed News</em></a></li>  
  </ul>
<p>See a more comprehensive list <a href="https://corinfaife.contently.com">here</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/corintxt">Find me on Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:corin.faife@gmail.com">Send me an email</a> | <a href="https://keybase.io/corinfaife">PGP</a>
  </li>
</ul>
